<div class="map">
  <style>
    .map {
    }

    #map {
      height: 550px;
    }
  </style>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ vm.title }} {{ vm.mapService.currentHour }}:00</h2>
    </div>
    <div class="col-md-4">
      <div class="btn-toolbar" style="margin-top: 30px;">
        <button type="button" class="btn btn-primary" ng-click="vm.play()"><i class="fa fa-play"></i></button>
        <button type="button" class="btn btn-warning" ng-click="vm.pause()"><i class="fa fa-pause"></i></button>
        <button type="button" class="btn btn-success" ng-click="vm.previous()"><i class="fa fa-step-backward"></i></button>
        <button type="button" class="btn btn-success" ng-click="vm.next()"><i class="fa fa-step-forward"></i></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="map" class="col-md-12"></div>
  </div>
</div>
